table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #de0079;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 5px;
}

tr {
	border: 1px solid #ededed;
	text-align: center;
	background-color:#cc5a5a; 
}

th {
	text-align: center;
	color: #b9356e;
	background-color: #c2915e;
}

