table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003cff;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #2f00ff;
	text-align: center;
	background-color:#000000; 
}

th {
	text-align: center;
	color: #00ff2a;
	background-color: #3cff00;
}