@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    background-color: black;
    background-image: url("/Version6.0/user21/images/dreamjolthostelrybg.jpg");
    background-size: cover;
  }

  .navbar {
  background-color: rgb(64, 22, 22) !important;
  color: white !important
  }

a {
    color: rgb(255, 255, 255);
  }

 * {
    color: rgb(255, 255, 255);
	font-family: "Quicksand", sans-serif;
  }

  .centerAlign {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.centerDiv {
	position: absolute;
	top: 325px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerText {
	text-align: center;
}


  .bigGreenButton {
	width: 300px;
	height: 50px;
	border-radius: 30px;
	background-color: #660c0c;
	border: none;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
}

.bigGreenButton:hover {
	color: #FFFFFF;
	background-color: #310707;
	
}

footer {
    position: relative; 
	bottom: 0;
    width: 100%;
	display: block;
}

.centertable {
	margin-left: auto;
	margin-right: auto;
  }

  .nav-item:nth-child(5) > .nav-link {
    color:white
  }

  div li * ::marker{
	content:"ğ„ ";
	font-size: 30px;
  }