table {
	font-family: "Impact";
	color: #007bff;
	margin-left: left;
	margin-right: left;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ff0000;
	text-align: left;
	background-color:#dc1a82; 
}

th {
	text-align: left;
	color: #750000;
	background-color: #dc1a82;
}