table {
    font-family: "Arial", "Open Sans", fantasy;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #fafafa;
    text-align: center;
    background-color:#ffffff58; 
}

th {
    text-align: center;
    color: #ffff;
    background-color: #000000;
}