table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #eb2d10;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #08f68f;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #2617f5;
    text-align: center;
    background-color: #df09a2;
    border: 1px solid #e70f0f;
    text-align: center;
    background-color: #0d7be8;
}

th {
    text-align: center;
    color: #e70f0f;
    background-color: #532fe5;
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}