.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1.5;
    font-family: Roboto;
}

button {
    padding: 5px;
}

ol {
    list-style-type: decimal-leading-zero;
}

ol ol {
    margin-left: 0.9em;
}

ol li {
    line-height: 1.5;
}

li li {
    list-style-type: lower-alpha;
}

li li li {
    list-style-type: square;
}

li li li li {
    list-style-type: circle;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

.container {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    border: 1px #000 solid;
    position: relative;
  }
  
  .box-bounds {
    padding: 10px;
    position: absolute;
  }
  
  .box {
    width: 50px;
    height: 50px;
    border: 1px #000 solid;
    right: 200px;
    background: red;
    transition: 0.5s;
  }

.friend :hover {
    cursor:grabbing
}