html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Full viewport height */
    display:flex;
    flex-direction: column;
    /* Stack elements vertically */
}

.button {
	background-color: #4caf4f1d;
	border: none;
	color: rgba(255, 255, 255, 0);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

button {
    color: rgba(255, 255, 255, 0);
    background-color: #ffffff00;
    padding: 0%;
    margin:0%;
}

.PlayButtonPink {
	box-shadow:inset 0px 0px 0px 0px #bd88b0;
	background:linear-gradient(to bottom, #ff94ff 5%, #ef027d 100%);
	background-color:#ff94ff;
	border-radius:41px;
	border:2px solid #ffccf1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 28px;
	text-decoration:none;
	text-shadow:0px 2px 19px #853d85;
}
.PlayButtonPink:hover {
	background:linear-gradient(to bottom, #ef4a9f 5%, #fd5efd 100%);
	background-color:#f763af;
}
.PlayButtonPink:active {
	position:relative;
	top:1px;
    background:linear-gradient(to bottom, #ef4a9f8e 5%, #fd5efd72 100%);
	background-color:#f763b063;
}

.top-list {
    color:#1c1b1b;
    text-align: center;
}

body{
    color:#1c1b1b;
    background-color: #eaf1f1;
}

footer {
    color:#ebbdbd;
    padding: 5px;
    position: relative;
    bottom: 100%;
    width: 100%;
    height: 100%;
    /*margin: auto;*/
    margin-top: auto;
    background-color: #979797

}

footer a {
    color:#dde2e2;
}

ul {
    color:#e7dfdf;
}

select {
    background-color: #343737;
}

.card {
    display: inline-block;

    text-align: center;
    background-color: #242727;
}

nav {
    position:relative;

    background-color:#c21d2a;
}

a {
    text-decoration: none;
}

.card {
    background-color: #bf1818;
    text-align: center;
    -webkit-filter: brightness(97%); 
    margin: 19px;
}

.card:hover {
    background-color: #bf1818;
    text-align: center;
    -webkit-filter: brightness(108%); 
    transform: scale(100.75%);
}

.collapse :hover {
    color:#ffffff;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;

    text-align: center;
}

strong {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;
}

.nameplate {
    background: linear-gradient(
        180deg,
        rgb(203, 45, 45),
        rgb(148, 24, 24)
        );
        padding: 0.25rem 0rem;
}

video {
    align-items: left;

    transform: translate(63rem);
}

.news-video {

    transform: translate(-24rem);
}

table {
    color:#1c1b1b;
}

tr {
    color:#1c1b1b;
}

td {
    color:#1c1b1b;
}

.information {
    color: #1c1b1b;
}

.card {
    color: #eaf1f1;
}

.navbar-brand {
    color:#dde2e2;
}

h3 {
    transform: translate(40rem);
}