@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
} 

#hireButtons {
	background-color: gainsboro;
	font-kerning: auto;
	font-size: x-large;
	font-style: italic;
}

#footerTable {
	background-color: aqua;
	text-shadow: 12;
	width: fit-content;
	height:auto;
}

div#footerTable:hover{
	border: 1vh dotted black;
	color: slategray;
	text-shadow: 1vh;
}

#knowledge>* {
	border: 3px red solid;
}

div#knowledge li::marker {
	color: red;
}

div#knowledge >li::marker{
	color:rgb(95, 95, 218);
}


/*{
	text-emphasis-style: sesame;
	border: 1px solid blueviolet;}
	*/